---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
//include bases and dependencies
@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap-sprockets.scss";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
//import the additional naked navbar styles
@import "navbar";
//import the additional full background image styles
@import "parallax";
//import the custom stylesheets now
@import "sections";

.tagline{
    color:#fff;
}
.jumbotron.footer{
    margin-bottom:0px;
}
