---
layout: page
title: Documentation
permalink: /documentation
---
<div class="alert alert-warning">
Documentation is currently under construction, for further information please contact the author Via GitHub.
</div>
<div class="row">
    <div class="col-sm-12 col-md-9">
        <div class="alert alert-info">
            <h1>Important!</h1>
            <p>
                WordSmith is biult on the back of OOP and MVC.<br/><br/>
                WordSmith provides an interface for developers to organize and refine their code into single use classes by extending the classes provided in the framework
                <br/><br/>
                If for whatever reason you are not familliar with the following topics consider using the crucible to get yourself started;
            </p>
            <br/>
            <ul>
                <li>Object Oriented Programming</li>
                <li>Namespaces</li>
                <li>Class Inheritance</li>
                <li>MVC (Model View Controller)</li>
            </ul>
            <br/>
            <p>
                There is no standard folder structure for using the framework, simply write your own classes and extend the ones provided.<br/><br/>
                for beginer developers seeking a complete soltuion The Crucible is the best way to get started with WordSmith.<br/><br/>
                <a href="{{ site.baseurl  }}/crucible" class="btn btn-info btn-sm">Go to The Crucible</a>
            </p>
        </div>
        <!--
        <h2>Actions</h2>
        {% include components/actions.html %}
        <h2>Endpoints</h2>
        {% include components/endpoints.html %}
        <h2>Filters</h2>
        {% include components/filters.html %}
        <h2>Menus</h2>
        {% include components/menus.html %}
        <h2>Meta Boxes</h2>
        {% include components/metaBoxes.html %}
        <h2>Models</h2>
        {% include components/models.html %}
        <h2>Post Types</h2>
        {% include components/postTypes.html %}
        <h2>Scripts</h2>
        {% include components/Scripts.html %}
        <h2>Settings Pages</h2>
        {% include components/SettingsPages.html %}
        <h2>Customizer Fields</h2>
        {% include components/Customizer.html %}
        <h2>Taxonomies</h2>
        {% include components/Taxonomies.html %}
        <h2>User Capabilities</h2>
        {% include components/Capabilities.html %}
        <h2>User Roles</h2>
        {% include components/Roles.html %}
        <h2>Views</h2>
        {% include components/Views.html %}
        <h2>Utillities</h2>
        {% include components/Utillities.html %}
        <h2>Controllers</h2>
        {% include components/Controllers.html %}
        -->
    </div>
    <div class="visible-md visible-lg col-md-3">
        <div data-spy="affix" data-offset-top="302" id="side-menu"></div>
    </div>
</div>