<li class="{% if page.url contains '/getting-started' %}active{% endif %}"><a href="{{ site.baseurl  }}/getting-started/">Get Started</a></li>
<li class="{% if page.url contains '/documentation' %}active{% endif %}"><a href="{{ site.baseurl  }}/documentation/">Documentation</a></li>
<li class="{% if page.url contains '/crucible' %}active{% endif %}"><a href="{{ site.baseurl  }}/crucible/">The Crucible</a></li>
<li class=""><a href="{{ site.repository }}">View on GitHub</a></li>
<li class="{% if page.url contains '/contact' %}active{% endif %}"><a href="{{ site.baseurl  }}/contact/">Contact</a></li>
