<li class="{% if page.url contains '/getting-started' %}active{% endif %}"><a href="{{ site.github.url }}/getting-started">Get Started</a></li>
<li class="{% if page.url contains '/documentation' %}active{% endif %}"><a href="{{ site.github.url }}/documentation">Documentation</a></li>
<li class="{% if page.url contains '/crucible' %}active{% endif %}"><a href="{{ site.github.url }}/crucible">The Crucible</a></li>
<li class=""><a href="https://github.com/nk2580/WordSmith-Framework" target="_blank">View on GitHub</a></li>
<li class="{% if page.url contains '/contact' %}active{% endif %}"><a href="{{ site.github.url }}/contact">Contact</a></li>