<script src="{{ site.baseurl  }}/bower_components/jquery/dist/jquery.min.js"></script>
<script src="{{ site.baseurl  }}/bower_components/parallax.js/parallax.min.js"></script>
<script src="{{ site.baseurl  }}/bower_components/bootstrap-sass/assets/javascripts/bootstrap-sprockets.js"></script>
<script src="{{ site.baseurl  }}/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
<script src="{{ site.baseurl  }}/bower_components/smooth-scroller/dist/smooth-scroller.min.js"></script>
<script src="{{ site.baseurl  }}/bower_components/toc/dist/toc.min.js"></script>
<script src="{{ site.baseurl  }}/assets/js/app.js"></script>
