/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/11/2015, 3:10:19 PM
    Author     : accounts
*/
.parallax-window .overlay {
    min-height: 200px;
    background: rgba(0, 0, 0,0.6);
    padding-bottom: 60px;
    padding-top: 60px;
    color:#fff;
}

