<header class="site-header">
    <div class="parallax-window" data-parallax="scroll" data-image-src="/assets/images/bg.jpg">
        <div class="overlay">
            <nav class="navbar navbar-naked">
                <div class="container">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="{{ site.baseurl  }}/">
                                <img alt="Brand" class="img-responsive" src="/assets/images/logo.png">
                            </a>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                {% include nav-items.html %}
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </div>
            </nav>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                    <h4 class="text-center">
                        <img class="img-responsive" src="/assets/images/badge.png"/>
                        <strong class="tagline">Powerful Apps With Minimal Effort</strong></h4>
                    <br/>
                    <a class="btn btn-default btn-block" href="/getting-started">Get Started</a>
                </div>
            </div>
        </div>
        </div>
    </div>
</header>
