---
layout: default
---
<div class="parallax-window" data-parallax="scroll" data-image-src="{{ site.baseurl  }}/assets/img/bg.jpg">
    <div class="overlay ">
        <div class="container ">
            <h1>{{ page.title }}</h1>
        </div>
    </div>
</div>
<section>
    <div class="container">
        <div class="alert alert-danger">
            <div class="pull-right">
                <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
            </div>
            This project is currently an Alpha build.<br/>
            Although the package is stable, the product is not yet published as a release<br/>
            Changes will be made frequently as required, hopefully soon i'll be able to dedicate more time to maintaining this project.<br/>
            If you would like to contribute to this project please get in touch with me via GitHub.
        </div>
        {{ content }}
    </div>
</section>